In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
print(pyspark.__version__)

3.3.2

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-05 19:37:34--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Распознаётся github.com (github.com)… 140.82.121.3
Подключение к github.com (github.com)|140.82.121.3|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 302 Found
Адрес: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T183735Z&X-Amz-Expires=300&X-Amz-Signature=88db9177740bade442b48429be7ba782d46e11e6d0670c2860179946a2f80638&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [переход]
--2023-03-05 19:37:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T183735Z&X-Amz-Expires=300&X-Amz-Signature=88db9177740bade442b48429be7ba782d46e11e6d0670c2860179946a2f80638&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Распознаётся objects.githubusercontent.com (objects.githubusercontent.com)… 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Подключение к objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 175799316 (168M) [application/octet-stream]
Сохранение в: «fhvhv_tripdata_2021-06.csv.gz»

fhvhv_tripdata_2021 100%[===================>] 167,66M  34,0MB/s    за 5,0s

2023-03-05 19:37:40 (33,8 MB/s) - «fhvhv_tripdata_2021-06.csv.gz» сохранён [175799316/175799316]

In [5]:
!wc -l fhvhv_tripdata_2021-06.csv.gz

  651315 fhvhv_tripdata_2021-06.csv.gz

In [13]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv')

In [14]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [17]:
!head -n 1001 fhvhv_tripdata_2021-06.csv > head.csv

In [18]:
import pandas as pd

In [19]:
df_pandas = pd.read_csv('head.csv')

In [20]:
df_pandas

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN
...,...,...,...,...,...,...,...
995,B02510,2021-06-01 00:49:25,2021-06-01 00:59:10,249,148,N,NaN
996,B02682,2021-06-01 00:28:39,2021-06-01 00:35:58,75,75,N,B02682
997,B02682,2021-06-01 00:41:01,2021-06-01 00:51:00,75,42,N,B02682
998,B02682,2021-06-01 00:57:55,2021-06-01 01:10:18,152,78,N,B02682
999,B02510,2021-06-01 00:17:01,2021-06-01 00:27:18,174,185,N,NaN

In [21]:
df_pandas.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [22]:
from pyspark.sql import types

In [24]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [29]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [30]:
df = df.repartition(12)

In [31]:
df.write.parquet('fhvhv/2021/06/')

In [32]:
df = spark.read.parquet('fhvhv/2021/06/')

In [33]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [35]:
df.createOrReplaceTempView('fhvhv_trips_data')

In [42]:
df_hw_3 = spark.sql("""
select
  date(pickup_datetime) as d,
  count(*)
from fhvhv_trips_data
group by 1
order by 1
""")

In [43]:
df_hw_3.show()

+----------+--------+
|         d|count(1)|
+----------+--------+
|2021-06-01|  417375|
|2021-06-02|  457339|
|2021-06-03|  521408|
|2021-06-04|  538917|
|2021-06-05|  604903|
|2021-06-06|  522753|
|2021-06-07|  425771|
|2021-06-08|  462554|
|2021-06-09|  483353|
|2021-06-10|  504108|
|2021-06-11|  549286|
|2021-06-12|  591339|
|2021-06-13|  509039|
|2021-06-14|  426672|
|2021-06-15|  452470|
|2021-06-16|  479776|
|2021-06-17|  497133|
|2021-06-18|  540056|
|2021-06-19|  601189|
|2021-06-20|  491630|
+----------+--------+
only showing top 20 rows

In [45]:
from pyspark.sql import functions as F

In [ ]:
F.datediff.

In [49]:
df_hw_4 = spark.sql("""
select
  max((unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime))/3600)
from fhvhv_trips_data
-- group by 1
-- order by 1
-- limit 10
""")

df_hw_4.show()

+----------------------------------------------------------------------------------------------------------------------------+
|max(((unix_timestamp(dropoff_datetime, yyyy-MM-dd HH:mm:ss) - unix_timestamp(pickup_datetime, yyyy-MM-dd HH:mm:ss)) / 3600))|
+----------------------------------------------------------------------------------------------------------------------------+
|                                                                                                            66.8788888888889|
+----------------------------------------------------------------------------------------------------------------------------+

In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [53]:
df_zones = spark.read \
          .options(header="True",inferSchema='True') \
          .csv('taxi_zone_lookup.csv')

In [55]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [56]:
df_zones.createOrReplaceTempView('zones')

In [60]:
df_hw_6 = spark.sql("""
select
  z.Zone,
  count(*) as n
from fhvhv_trips_data d 
  inner join zones z on z.LocationID=d.PULocationID
group by 1
order by n desc
""")

df_hw_6.show()

+--------------------+------+
|                Zone|     n|
+--------------------+------+
| Crown Heights North|231279|
|        East Village|221244|
|         JFK Airport|188867|
|      Bushwick South|187929|
|       East New York|186780|
|TriBeCa/Civic Center|164344|
|   LaGuardia Airport|161596|
|            Union Sq|158937|
|        West Village|154698|
|             Astoria|152493|
|     Lower East Side|151020|
|        East Chelsea|147673|
|Central Harlem North|146402|
|Williamsburg (Nor...|143683|
|          Park Slope|143594|
|  Stuyvesant Heights|141427|
|        Clinton East|139611|
|West Chelsea/Huds...|139431|
|             Bedford|138428|
|         Murray Hill|137879|
+--------------------+------+
only showing top 20 rows